.GridView {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.GridView img {
  width: 25vw;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}

@media screen and (width<992px) {
  .GridView {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .GridView img {
    width: 100%;
    object-fit: cover;
    object-position: bottom;
  }
}
